body,
ul,
li,
p {
 margin: 0px;
 padding: 0px;
 list-style: none;
 font-size: 40px;
 font-family: Arial;
 color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color:rgb(255, 252, 252);
    text-align: center;
    padding: 10px;
}

h1 {
    align-items: center;
    text-align: center;
    margin-top: 100px;
    color: black;
    font-size: 35px;
}

h2 {
    color: black;
    font-size: 22px;
}


img {
    max-width: 100%;
    display: block;
}

.header {
 background: #2a2a2a;
 display: flex;
 justify-content: space-between;
}
header{
    background-color: rgb(0, 0, 0);
}
header p{
    font-size: 35px;
    color: white;
}

.menu {
    display: flex;
}



.menu li a {
    display: block;
    padding: 10px;
}

/* CSS FLEXBOX 1 */

.flex {
   display: flex;
   flex-wrap: wrap;
   max-width: 800px;
   margin: 0 auto;
}

.flex > div {
   flex: 1 1 200px;
   margin: 10px;
}

.teste{
    display: flex;
    padding: 10px;
    border-top: 1px solid white;
    justify-content: space-between;
}

.teste li a{
    font-size: 20px;
   
    color: white;
}

.texto{
    max-width: 800px;
    grid-column: 1;
    grid-row: 1;
}

.texto p {
    font-size: 25px;
}

.produtos {
    color: black;
    padding: 30px 1px 1px 40px;
    display: flex;
    justify-content: space-between;
    grid-column: 1;
    grid-row: 2;
}


.espaço li {
    color: black;
    font-size: 20px;
}
.espaço pre{
    color: black;
    font-size: 20px;
}
.rodapé {
    background-color: black;
    padding: 1px 2px 3px 4px;
    display: flex;
    justify-content: space-between;
}

.rodapé p {
    color: white;
    
}

.main {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 35% 65%;
}

.anúncio {
    grid-column: 2;
    grid-row: 1/3;
}

.textocentralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
}